//
// Forms fields
//

// Form
.ant-form {
    font-family: inherit;
}

// Label
label {
    font-size: $f-size;
}

// Input and select
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector,
.ant-input {
    height: 48px;
    border-radius: 100vh;
    width: 100%;
    border-color: $c-gray2;
    color: inherit;
    padding: 5px 24px;
    &:hover,
    &:focus {
        border-color: $c-link;
    }
    &::placeholder {
        color: inherit;
    }    
}

// select
.ant-select {
    .ant-select-arrow {
        font-size: 13px;
        right: 21px;
        color: inherit;
    }
    &:hover {
        .ant-select-arrow {
            color: $c-link;
        }
    }
}

// date picker
.ant-picker {
    height: 48px;
    border-radius: 100vh;
    border-color: #575757;
    color: #575757;
    width: 100%;
    padding: 5px 24px;
    .ant-picker-suffix {
        color: $c-text;
    }
    &:focus {
        border-color: $c-link;
    }
}

.ant-picker .ant-picker-input >input {
    color: $c-text;
    &::placeholder {
        color: $c-text;
    }
}