$c-primary: #0069A3;
$c-secondary: #F4D73B;

$c-color1: #421A75;
$c-color2: #C20590;
// $c-color3: ;
// $c-color4: ;
// $c-color5: ;
// $c-color6: ;
$c-color7: #77BB89;
// $c-color8: ;
// $c-color9: ;


$c-gray1: #343a40;
$c-gray2: #575757;
$c-gray3: #B2B2B2;
$c-gray4: #EDEDED;
$c-gray5: #EDEDED;

$c-text: $c-gray1;

$c-success: $c-color7;

$c-link: #0090D0;